version: 2.1

working_directory: &working_directory "~/repo"

orbs:
  gcr: circleci/gcp-gcr@0.15.1
  google-oidc: solidblocks/google-oidc@0.0.5

jobs:
  build-push-image:
    machine:
      image: ubuntu-2204:current
      docker_layer_caching: true

    working_directory: *working_directory

    steps:
      - checkout
      - google-oidc/authenticate
          audience: projects/192970750220/locations/global/workloadIdentityPools/alex-pool/providers/alex-provider
      - run:
          name: Setup docker credentials
          command: gcloud auth configure-docker
      - run:
          name: "Build"
          command: docker build -t hello-world:1.1.0 .
      - gcr/push-image:
          registry-url: gcr.io
          image: hello-world
          tag: 1.1.0

workflows:
  build:
    jobs:
      - build-push-image:
          context:
            - gcp
          filters:
            branches:
              only:
                - main